
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
  background: #eff2f5!important;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  padding: 30px;
  max-height: 800px;
  overflow-y: auto
}

.cellClassName {
  background-color: gray!important;

}

.ui.basic.modal {
  position: fixed;
  padding-top: 250px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 999!important;
}

.signInCard {
  position: fixed!important;
  margin-left: auto;
  width: 335px;
  margin-right: auto;
  z-index: 999;
  padding: 6px;
  transform: translate(-50%, -50%)!important;
  top: 50%;
  left: 50%;
  background: #FFFFFF!important;
  border: 1px solid rgba(241, 153, 255, 0.14)!important;
  box-sizing: border-box;
  box-shadow: 0px 62px 51px rgba(17, 12, 21, 0.1)!important;
  border-radius: 23px!important;
}

.signInBg {
  background: #EFF2F5;
  height: 100vh;

}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 400!important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader {
  background: #010747!important;
  color: white!important;
  font-weight: 300!important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper .MuiDataGrid-cell {
  background: #010747!important;

}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: 1px solid rgba(224, 224, 224, 1)!important;
  font-weight: 400!important;
}
.signInTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.01em;
  line-height: 118.34%;
  /* or 31px */
  width: 110px;
  // height: 79px;
  color: #000000;
}

.signInBtn {
  // background: linear-gradient(165.99deg, #FFFFFF -130.93%, rgba(255, 255, 255, 0) 69.53%), linear-gradient(91.8deg, #D6924E 0%, #D56A82 33.1%, #7A25B3 97.3%);
  outline: none!important;
  border: none!important;
  border-radius: 4px!important;
  z-index: 999!important;
  width: 100%;
  background: #3430F6;
  // width: 233px;
  height: 41px!important;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;
  font-style: normal!important;
  font-weight: 500!important;
  font-size: 14px!important;
  line-height: 17px!important;
  background-size: 200% auto!important;

  color: rgba(255, 255, 255, 0.92)!important;
  transition: 0.5s!important;
  
}

.signInBtn:hover {
    background-position: right center;
  
}

.textFieldSignIn {
  outline: black!important;
  color: black!important;
}




.eventBody {
  height: 100%;
  background: #EFF2F5;
  width: 100%;
  overflow-x: hidden;
}

.eventHeader {
  background: #010747;
  width: 100%;
  height: 63px;
  z-index: 999;
  position: fixed;
  top: 0px;
}

.eventWhiteHeader {
  background: #FFFFFF;
  position: fixed;
  top: 63px;
  z-index: 99;
  width: 100%;
  border: 0.4px solid #D5DFEB;
  box-sizing: border-box;
  box-shadow: 0px 0px 31px rgba(188, 189, 192, 0.3);
  padding-top: 0px
}

.eventPageBody {
  padding-top: 250px;
}

.top_form_header {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 99;
  box-shadow: inset 0px -12px 28px rgba(0, 0, 0, 0.13)!important;
  top: 0px;
  background-size: 400%!important;
  animation: gradient 7s ease infinite;
  background: linear-gradient(-45deg, #8e2bff, #e73c7e,#4742c0, #1d26fa);
}

.eventProjectCard {
  background: #FFFFFF!important;
  border: 1px solid rgba(213, 223, 235, 0.75)!important;
  border-bottom: 1px solid #3430F6!important;
  box-sizing: border-box!important;
  background-size: 100% auto;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 6px 8px 0px rgba(30, 58, 76, .17) !important;
  border-radius: 8px!important;
  transform: translateY(0px);
}

.eventProjectCard:hover {
  background-size: 200%;
  z-index: 999;
  transition: all 0.5s;
  transform: rotate3d(3, 4, 100, 355deg) translateY(-15px);
  border-radius: 40px!important;
  box-shadow: -10px 50px 0px rgba(30, 58, 76, .05)!important;
  background-position: left center;
}

.introjs-progressbar {
  background-color: #e03997!important;
}



.introjs-tooltip {
  border: 1px solid #3430F6!important;
  box-shadow: -9px 20px 3px rgba(33, 33, 33, .30)!important;
}

.introjs-helperLayer {
   box-shadow: rgba(35, 35, 74, 0.434) 0px 0px 1px 2px, rgba(35, 35, 74, 0.434) -20px 20px 0px 0px!important;
   color: white!important;
}

html {
  scroll-behavior: smooth;
}

.introjs-button {
  font-weight: 500!important;
  border-radius: 5px!important;
  background: #3430F6 !important;
  color: white!important;
  text-shadow: none!important;
}

.optionsIcon {
  color: white;
  z-index: 999;
  position: absolute;
  top: 29px;
  left: 20px;
}

.MuiDataGrid-root .MuiDataGrid-sortIcon, .MuiDataGrid-root .MuiDataGrid-filterIcon {
  color: white!important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeaderSorted) .MuiDataGrid-sortIcon {
  opacity: 1!important;
}

.ui.dropdown .menu {
}

.eventProjectGradCard {
  background: linear-gradient(-45deg, #8e2bff, #e73c7e,#4742c0, #1d26fa);
  box-shadow: -7px 16px 2px rgba(172, 177, 194, .22);
  height: 86px;
  position: relative;
  width: 100%;
  transition: all 2s;
  margin-top: -20px;
  background-size: 400%!important;
  animation: gradient 7s ease infinite;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 160px;
}

.eventProjectGradCard:hover {
  background-size: 200%;
  transition: all 0.5s;
  background-position: left center;
}


.eventProjectTitle {
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.025em;

  color: #4F4F54;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nestedTab {
  border-bottom: 3px solid rgba(255, 255, 255, 0.0);
  padding-bottom: 10px;
  transition: all 2s;
}

.nestedTabHover {
  border-bottom: 3px solid #EA60DC;
  padding-bottom: 10px;
  transition: all 2s;
}

.eventWhiteHeaderTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  font-weight: bold;
  letter-spacing: -0.025em;

  color: #3B3642;
}

.createProjectLabel {
  font-weight: bold;
}

.createEventBtn {
  background: #3430F6!important;
  border-radius: 25px!important;
    font-style: normal;
  font-weight: 600!important;
  font-size: 16px;
  height: 48px;

  width: 108px;

  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.025em!important;

  color: #FFFFFF;
}

.eventDescription {
  color: #4f4f54cc;
  font-size: 14px;
}

.getLink {
  border: 1px solid #3430F6!important;
  box-sizing: border-box;

  background: none!important;
  border-radius: 21px!important;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: -0.025em!important;

  color: #3430F6!important;

}

.userProfile {
  font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: -0.025em;

color: #FFFFFF;
}

.liveLinkHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  display: inline;
  line-height: 18px;
  border-bottom: 1px solid #3430F6;
  padding-bottom: 3px;

  /* identical to box height */

  letter-spacing: -0.025em;

  color: #3430F6;
}

.getLinkShare {
  padding: 8px;
  border-radius: 10px;
  background: gray;
  color: #1e8e3e;
  background: #e6f4ea;
}

.backBtn {
  box-sizing: border-box;
  border-radius: 7px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  /* identical to box height */
  width: 84px;
  font-weight: 600;
  height: 34px;
  letter-spacing: -0.025em;
  background: #3430F6!important;
  color: white!important;
}

.eventSubTabs {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.025em;

  color: #3B3642;
}

.rat-TimeSlot_component {
  background-color: #3430F6!important;

}
// .rat-AvailableTimes_toolbar {
//   display: none!important;
// }

.dayOfWeek {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
  /* identical to box height */

  letter-spacing: -0.025em;

  color: #4F4F54;
}

.unavailableTime {
  font-weight: 500;
  border-radius: 10px;
  padding: 7px;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;

  /* identical to box height */

  letter-spacing: -0.025em;

  color: white;
}

.availableTime {
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  padding: 7px;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.025em;

  color: black;
}